# s3uploader/templates/layout.html

<!DOCTYPE html>
<HEAD>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Proof CDN Uploader</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/skeleton.css') }}">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
</HEAD>

<body>
    <div class="container">
    <div class="row">
        <div class="offset-by-one.column" style="margin-top: 25%">
            <img src="{{ url_for('static', filename='images/Proof-Simple_Advertising-K.png') }}" style="max-width:200px;height:auto;border:0;"/>
            <h4>Proof CDN Uploader</h4>
            {% block content %}{% endblock %}
            {% with messages = get_flashed_messages() %}
            	{% if messages %}
            		<ul class=body>
            			{% for message in messages %}
            			<li>{{ message }}</li>
            			{% endfor %}
            		</ul>
            	{% endif %}
            {% endwith %}
        </div>
    </div>
</div>
</body>